
.app-list {
  padding: .75rem 0; 
}

.app-list-item-label{
  line-height: 40px;
  font-weight: bold;
  color: steelblue;
  cursor: pointer;
}

.app-list button {
  width: 40px;
  margin: 3px;
}

.done{
  text-decoration: line-through;
}

